@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}


/*  headings and logo */

h1, h2 {
    font-family: 'Caveat', cursive, sans-serif;
    font-weight: 700;
    color: #252525;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

ul{
    text-align: right;
}

#menu li {
    display:inline;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

#cover-text, #cover-text h2{
    color: white;
}

/* hero image */

#hero-image{
    height: 700px;
    width: 100%;
    background: url('../images/Hero Image.jpeg') no-repeat center center;
    background-size: cover;

    /* animates zoom effect */
    animation: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

#hero-outer{
    height: 700px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

/* creates the level of zoom for hero image */

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1)
    }
}

#cover-text{
    font-size: 130%;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width :400px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(39, 29, 29, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}


/* club info main page */ 

#middle-settings{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* 3 center picture settings */ 

#images-settings{

    margin-top: 20px;
    margin-bottom: 20px;
}

#left-about{
    width: 33.33%;
    float: left;
    border: 2px solid white;
    box-sizing: border-box;
}

#center-about{
    width: 33.33%;
    float: left;
    border: 2px solid white;
    box-sizing: border-box;
}

#right-about{
    width: 33.33%;
    float: left;
    border: 2px solid white;
    box-sizing: border-box;
}

#times{

    background-image: url('../images/pexels-pixabay-ROAD.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.6);
    height: 300px;
    width: 20%;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    margin-left: 4%;

}

#times h2{
    padding-bottom: 20px;
    color: #fafafa;
}