@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}


/*  headings and logo */

h1, h2 {
    font-family: 'Caveat', cursive, sans-serif;
    font-weight: 700;
    color: #252525;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 280%;
}

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

ul{
    text-align: right;
}

#menu li {
    display:inline;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#hero-image{
    height: 700px;
    width: 100%;
    background: url('../images/Hero Image.jpeg') no-repeat center center;
    background-size: cover;

    /* animates zoom effect */
    animation: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

#hero-outer{
    height: 700px;
    width: 100%;
    overflow: hidden;
}

/* creates the level of zoom for hero image */

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1)
    }
}